MapSC/Pods/*
MapSC/MapSC.xcworkspace/xcuserdata/ktan422.xcuserdatad/UserInterfaceState.xcuserstate
MapSC/MapSC/Assets.xcassets/AppIcon.appiconset/Contents.json
MapSC/MapSC.xcworkspace/xcuserdata/ktan422.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
